<% layout('/layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Homestay</h1>
    <div class="col-6 offset-3">
        <form class="validated-form" action="/homestay" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="homestay[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="homestay[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Homestay Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="homestay[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="homestay[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label" for="">Image(s)</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Homestay</button>
            </div>
            
            </form>
        <div>
            <a href="/homestay">Cancel</a>
        </div> 
    </div>
</div> 

